/* ESTILOS PARA TODAS LAS VERSIONES DE IE */

/* 1. Solucionamos problema con imágenes y redimensionamiento. */

.mascara {
	width:100%!important;
}

.mascara img, .carousel img, .mini-header img {
	width:100%!important;
}

.carousel .thumb img {
	width:200px!important;
}

.th9 img, .th10 img, .th11 img {
	width:100%!important;
}

.captionimg h2 {
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
}

.menuscroll {
	margin-top:10px!important;
}